* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', 'Roboto';
  background-color: rgb(29, 29, 29);
}

/* --- NAV --- */

.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 10vh;
  background-color: black;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
  z-index: 3;
}

.logo-image {
  padding: 0.4em;
  width: 60px;
}

.logo-desc {
  font-weight: 800;
  color: white;
}

.nav-link {
  cursor: pointer;
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 700;
  color: rgb(206, 206, 206);
  will-change: color;
  transition: color 0.25s ease-out;
  padding-bottom: 4px;
}

.header-title {
  color: rgb(228, 228, 228);
  text-align: center;
  margin: 0.5em;
}

/* --- SEARCH-TOP --- */

.search-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 1em 1em 3em 1em;
}

.title {
  color: rgb(228, 228, 228);
  text-align: center;
  margin: 0.5em;
}

.sub-title {
  color: rgb(228, 228, 228);
  text-align: center;
  margin: 0.5em;
}

/* --- INPUTS --- */

.inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.text-input-input {
  background-color: transparent;
  color: white;
  border: none;
  height: 100%;
  width: 100%;
}

.text-input-input:focus {
  outline: none;
}

.text-input-cancel {
  position: absolute;
  font-family: Verdana;
  font-size: 25px;
  font-weight: 800;
  width: 25px;
  height: 25px;
  background-color: white;
  color: black;
  border-radius: 500px;
  text-align: center;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.text-input,
.dropdown {
  width: 50%;
  min-width: 280px;
  height: 50px;
  margin: 1em 1em 2em 1em;
  padding: 0.6em 3em 0.6em 0.6em;
  box-shadow: 0px 0px 43px 0px rgba(90, 116, 224, 1);
  position: relative;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: transparent;
}

input,
.dropdown {
  font-size: 1rem;
}
.dropdown {
  appearance: none;
}

option {
  background-color: rgb(29, 29, 29);
  margin: 2rem;
  border: none;
}

/* --- LIST --- */
.list-item {
  display: grid;
  border-radius: 5px;
  padding: 0.8em;
  margin: 0.5em;
  text-align: left;
  position: relative;
  cursor: pointer;
  border: rgba(255, 255, 255, 0.39) solid 1px;
  grid-template-areas: 'text text category';
  color: #e0e0e0;
  text-decoration: none;
}

.list-item:hover {
  box-shadow: 0px 0px 12px 0px rgba(90, 116, 224, 1);
  transform: scale(1.01);
}

.list-item-text {
  width: 100%;
  margin: 0;
  grid-area: text;
}

.list-item-title {
  margin: 0.1em;
  font-size: 1.2rem;
  font-weight: 700;
}

.list-item-desc {
  margin: 0.1em;
  font-size: 0.9rem;
  font-weight: 500;
}

.list-item-category {
  justify-self: flex-end;
  align-self: flex-end;
  font-style: italic;
  margin: 0.3em 0.3em 0.3em 0.7em;
  font-weight: 500;
  grid-area: category;
  align-self: center;
}

@media screen and (max-width: 768px) {
  nav h3 {
    display: none;
  }

  .nav-link {
    display: none;
  }
}
